.dropdown_button {
  width: fit-content;
  height: 34px;
  font-size: 20px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
